@model string
@{
    ViewBag.Title = "Сайт 1 - Профиль";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Сайт 1 - Профиль @(Model == null ? "" : "(" + Model + ")")</h1>
        @Html.ActionLink("На главную", "Index")
        @Html.ActionLink("Выход", "Logout")
    </div>
</body>
</html>
