@{
    ViewBag.Title = "Сайт 1";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Сайт 1</h1>
        @Html.ActionLink("Ссылка", "Account")
        @Html.ActionLink("Выход", "Logout")
    </div>
</body>
</html>

