
@{
    ViewBag.Title = "SSO";
}

<div class="jumbotron">
    <h1>SSO Сервер</h1>
    <p>
        Данный сервер предназначен для единой аутентификации пользователей в различных приложениях (Single Sign On).<br />
        Здесь можно посмотретить всех зарегистрированных пользователей и все зарегистрированные приложения (см. верхнее меню).<br />
        Также есть доступ к api через Swagger и непосредственный доступ к Identity Server 3.<br />
    </p>
</div>
