@{
    ViewBag.Title = "Сайт 2 - Профиль";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h1>Сайт 2 - Профиль</h1>
        @Html.ActionLink("Главная", "Index")
        @Html.ActionLink("Выход", "Logout")
    </div>
</body>
</html>
